<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis中可以面向接口操作数据，要保证两个一致
mapper接口的全类名和映射文件的命名空间（namespace）保持一致
mapper接口中方法的方法名和映射文件中编写SQL的标签的id属性保持一致-->
<mapper namespace="crf.invest.dao.StudentDao">

    <select id="getStudentListCount" resultType="java.lang.Long">
        select count(1) from student where 1=1
        <include refid="studentSql"/>
    </select>
    <select id="getStudentList" resultType="crf.invest.entity.Student">
        select * from student where 1=1
        <include refid="studentSql"/>
    </select>
    <sql id="studentSql">
        <if test="username !=''">
            AND username =#{username}
        </if>
        <if test="realname !=''">
            AND realname =#{realname}
        </if>
        <if test="phone !=''">
            AND phone=#{phone}
        </if>
        <if test="startTime!=''">
            and createtime <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime!=''">
            and createtime <![CDATA[<=]]> #{endTime}
        </if>
    </sql>
</mapper>